* {
  margin: 0;
  padding: 0;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
i {
  width: 100%;
}
input {
  border: none;
  outline: none;
  display: block;
}
img {
  display: block;
  width: 100%;
}

ul,
li {
  list-style: none;
}

div {
  box-sizing: border-box;
}

body {
  /* background-color: #141414; */
  color: white;
  font-size: 16px;
  background-color: #141414;
  font-family: "Itim", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.container {
  width: 100%;
  height: 2000px;
  overflow: hidden;
}

.inner {
  margin: auto;
  width: 1200px;
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
  background-color: #141414;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.search {
  padding: 5px;
  position: absolute;
}

.header_wrap {
  width: 1200px;
  margin: auto;
  display: flex;
  padding: 20px 0;

  align-items: center;
}

.header_wrap .logo {
  /* flex-grow: 1; */
  width: 10%;
}

.left_header {
  display: flex;
  width: 45%;
  align-items: center;
}
.left_header li {
  margin-right: 30px;
}

.right_header {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: right;
  /* overflow: hidden; */
}
.right_header li:first-child {
  position: relative;
  width: 50%;
  height: 25px;
  padding: 2px 0;
  display: flex;
}
.right_header li:first-child > input {
  position: absolute;
  width: 100%;
  height: 30px;

  padding: 0 5px;
  border: 1px solid white;
  background-color: #141414;
  top: 1px;

  opacity: 0;
  transition: all 1s;
}

.right_header li:first-child > i {
  position: absolute;
  height: 25px;
  width: 24px;
  color: black;

  color: white;
  right: 0;
  top: 4px;
  z-index: 1;
}
.right_header li {
  margin-right: 30px;
}

.right_header li:last-child {
  margin: 0;
}
.right_header li i {
  font-size: 22px;
}
.content {
  height: 650px;
}
.content_wrap {
  width: 100%;
  height: 60vh;
}

.content_wrap .slide {
  background: url(./images/slide1.jpeg);
  background-size: cover;
  background-position: top;
  width: 85%;
  border-radius: 10px;
  height: 85vh;

  overflow: hidden;
  margin-top: 81px;

  position: relative;
}

.content_wrap .slide:nth-child(2) {
  background: url(./images/slide2.jpeg);
  background-size: cover;
  background-position: top;
  width: 85%;
  border-radius: 10px;
  height: 85vh;

  overflow: hidden;
  margin-top: 81px;

  margin-left: 20px;
  position: relative;
}

.content_wrap .slide:nth-child(3) {
  background: url(./images/slide3.jpeg);
  background-size: cover;
  background-position: top;
  width: 85%;
  border-radius: 10px;
  height: 85vh;

  overflow: hidden;
  margin-top: 81px;

  margin-left: 20px;
  position: relative;
}
.content_wrap .slide:nth-child(4) {
  background: url(./images/slide4.jpeg);
  background-size: cover;
  background-position: top;
  width: 85%;
  border-radius: 10px;
  height: 85vh;

  overflow: hidden;
  margin-top: 81px;

  margin-left: 20px;
  position: relative;
}
.content_wrap .slide:nth-child(5) {
  background: url(./images/slide5.jpeg);
  background-size: cover;
  background-position: top;
  width: 85%;
  border-radius: 10px;
  height: 85vh;

  overflow: hidden;
  margin-top: 81px;

  margin-left: 20px;
  position: relative;
}

.content_wrap .slide .slide_content {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.content_wrap .slide .slide_content h4 {
  font-size: 60px;
  margin-bottom: 20px;
}
.content_wrap .slide .slide_content p {
  font-size: 25px;
  font-weight: 400;
}
.slide_button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  background-color: rgba(240, 240, 240, 0.5);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
.slide_button:hover {
  background-color: rgba(240, 240, 240, 0.6);
}

.skewX {
  transform: skewX(-20deg);
}
.content_second {
  padding: 100px 0;
}
.content_second .inner > h4 {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 30px;
}
.recom_wrap {
  position: relative;
  /* overflow: hidden; */
  /* width: 2000px; */
  overflow: hidden;
}
.recom_content {
  display: flex;
  width: 200%;
  transform: translateX();
  transition: all 1s;
  /* justify-content: space-between; */
}
.recom_content2 {
  display: flex;
  width: 50%;
}
.recom_content .recom_list {
  border-radius: 5px;
  overflow: hidden;
  /* margin-right: 20px; */
  margin-right: 20px;
  width: 20%;
}
.recom_content .recom_list img {
  width: 100%;
  height: 100%;
}
.recom_content .recom_list:last-child {
  margin: 0;
}
.recom_content .recom_list img {
  transition: all 0.5s;
}
.recom_content .recom_list img:hover {
  transform: scale(1.1);
}
.recom_wrap > div > i {
  font-size: 20px;
  color: rgba(240, 240, 240, 0.9);
  background: rgba(240, 240, 240, 0.5);
  width: 30px;
  position: absolute;
  top: 50%;
  z-index: 9;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  opacity: 0;
  text-align: center;
  transition: all 0.2s;
}
.recom_wrap:hover i {
  opacity: 1;
}
.recom_wrap > div:last-child i {
  right: 0;
}
