@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@100;300;400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

span {
  display: inline-block;
}
div,
input {
  box-sizing: border-box;
}
img {
  width: 100%;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.inner {
  max-width: 1320px;
  margin: auto;
  padding: 0 15px;
}

.inner_second {
  max-width: 1320px;
  margin: auto;
  padding: 0 15px;
  height: 100%;
}

.header {
  width: 100%;
  background: white;
  position: fixed;
  z-index: 9;
  opacity: 1;
  transition: all 0.3s;
}

.header_wrap {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  font-weight: 700;
}
.logo {
  width: 50px;
}

.nav {
  flex-grow: 1;
  display: flex;
  text-align: center;
  margin-left: 200px;
}

.nav_list {
  padding: 5px 24px;
  cursor: pointer;
}
.nav_list:hover {
  color: #f00b2d;
}
.nav_right {
  display: flex;
  font-size: 16px;
  font-weight: 400;
}

.nav_list2 {
  padding: 0 24px;
}
.nav_list2:last-child {
  padding-right: 0;
}
.nav_list2:first-child {
  border-right: 1px solid #ddd;
}

/* 헤더끝 */

.slide {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-pagenation {
  width: 200vw;
  display: flex;
  transition: all 1s;
}

.background {
  background-image: url(./images/background1_07.png);
  background-size: cover;
  background-position: center;
  width: 100vw;

  height: 100vh;
  z-index: -1;
}

.background_wrap {
  padding: 0 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.background_content {
  position: absolute;
  bottom: 80px;
}
.background_content h2 {
  font-size: 52px;
  color: #fff;
  margin-top: 15px;
  margin-bottom: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 0;
  /* transition: all 1s; */
}
.background_content p {
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  opacity: 0;
  /* transition: all 1s; */
}

.btn {
  padding: 16px 24px;
  /* margin-top: 30px; */
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.pagenation {
  width: 200px;
  height: 50px;
  position: absolute;
  /* background-color: white; */
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 0 5px;
}

.pagenation span {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 15px;
  /* border: 1px solid white; */
}
.pagenation span:first-child {
  margin-left: 0;
}
.pagenation .pagenationOn {
  background-color: white;
}

.pagenation span:hover {
  background-color: white;
}

.sec_wrap {
  width: 100%;
  padding: 0 10px;
}

.sec_wrap .sec_title {
  text-align: center;
  padding-top: 120px;
}

.sec_wrap .sec_title > h2 {
  font-size: 42px;
  font-weight: 700;
}

.sec_wrap .sec_title > p {
  font-size: 16px;
  color: #666666;
  padding-top: 30px;
}

.model1 {
  position: relative;
  width: 50%;
}
.model1_image {
  position: absolute;
  height: 100%;
}

.model1_range span {
  padding: 20px;
  color: white;
  position: absolute;
  background-color: #f00b2d;
}

.sec_wrap .sec1_content {
  display: flex;
  padding-bottom: 0px;
}
.sec1_content_right {
  width: 50%;
  margin-left: 50px;
}
.right_category {
  margin-top: 60px;
  margin-bottom: 40px;
  text-align: center;
}

.right_category .category_list {
  padding: 0 20px;
  border-right: 1px solid #666;
  font-size: 16px;
  color: #666;
  cursor: pointer;
}
.right_category span:first-child {
  padding-left: 0;
}
.right_category span:last-child {
  border: none;
}
.sec1_content_right > h2 {
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
}
.model1_image img {
  /* display: block; */
  height: 100%;
  width: 100%;
}
.model1 img {
  height: 100%;
}

.another_model {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.another_model .model2 {
  width: 50%;
}
.another_model .model3 {
  margin-left: 30px;
  width: 50%;
}
.another_model .model2 img,
.another_model .model3 img {
  display: block;
  width: 100%;
}

.another_model .model2 h2,
.another_model .model3 h2 {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

.right_category .on {
  color: #f00b2d;
}
.sec_range {
  padding-bottom: 120px;
}
.section_gray {
  background-color: #f8f8f8;
}

.sec_content2 {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.sec_content2 .sec2_mainmodel {
  width: 50%;
  padding: 40px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #dadbdc;
  margin: 0 40px;
}
.sec_content2 .sec2_mainmodel > h2 {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 28px;
}
.sec_content2 .sec2_submodel1 > h2,
.sec_content2 .sec2_submodel2 > h2 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
}
.sec_content2 .sec2_mainmodel > p {
  margin-bottom: 16px;
  font-size: 16px;
  color: #697278;
}

.sec_content2 .sec2_submodel1 > p,
.sec_content2 .sec2_submodel2 > p {
  margin-bottom: 10px;
  font-size: 12px;
  color: #697278;
}
.sec_content2 .sec2_submodel1 > p:last-child,
.sec_content2 .sec2_submodel2 > p:last-child {
  font-size: 14px;
  color: #05141f;
  margin: 10px 0 0 0;
}

.sec_content2 .sec2_submodel1,
.sec_content2 .sec2_submodel2 {
  width: 25%;
}
.bottom_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.bottom_content .bottom_left {
  width: 50%;
}
.bottom_content .bottom_right {
  width: 50%;
  text-align: right;
}

.bottom_left p:first-child {
  font-size: 28px;
  color: #05141f;
}
.bottom_left p:last-child {
  font-size: 16px;
  color: #697278;
}
.bottom_right .btn:last-child {
  color: white;
  background-color: #f00b2d;
  border: none;
}
.sec2_pagenation {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 120px;
}
.sec2_pagenation span {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid #666;
  border-radius: 50px;
  margin-left: 15px;
}
.sec2_pagenation span:first-child {
  margin: 0;
}

.sec_content3 {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 120px;
}
.news_list img {
  height: 100%;
}
.news_list {
  position: relative;

  margin-left: 30px;
  /* transition: all 1s; */
  overflow: hidden;
}
.news_list:first-child {
  margin: 0;
}

.news_list img {
  transition: all 1s;
}
.news_list img:hover {
  transform: scale(1.2);
}

/* .news_list img:hover {
  transform: scale(1.2);
} */

.news_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  text-align: center;
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.news_overlay h4,
.news_overlay p {
  font-size: 20px;
  color: white;
}

.news_overlay:hover {
  opacity: 1;
}

.sec_content4 {
  display: flex;
  justify-content: space-between;
}
.event_list {
  padding-top: 60px;
  margin-left: 30px;
}
.event_image {
  position: relative;
  height: 300px;
}
.event_image img {
  display: block;
  width: 100%;
  height: 100%;
}

.event_list:first-child {
  margin: 0;
}

.event_image .event_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  text-align: center;
  opacity: 0;
  color: white;
  transition: all 0.5s;
  font-size: 24px;
}
.event_image .event_overlay h4 {
  line-height: 300px;
}
.event_image .event_overlay:hover {
  opacity: 1;
}

.event_text {
  margin-top: 30px;
  padding-bottom: 120px;
}

.event_text h4 {
  font-size: 24px;
}
.event_text p {
  font-size: 16px;
  color: #666666;
  margin-top: 12px;
}

.footer {
  background-color: #1c1b1b;
  font-size: 14px;
  color: white;
}
.footer_wrap {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
}
.footer_list {
  display: flex;
}
.footer_list li {
  color: #dedede;
  padding: 0 20px;
  border-right: 1px solid #ddd;
}
.footer_list li:first-child {
  padding: 0 20px 0 0;
}
.footer_list li:last-child {
  border: none;
}

.footer_content {
  margin-top: 30px;
  font-size: 12px;
  color: #666666;
}
.footer_social {
  color: white;
  font-size: 25px;
}
.footer_social i {
  margin-right: 20px;
}
.footer_social i:last-child {
  margin: 0;
}

.footer_list .color_white {
  color: white;
}

.addtransition {
  transition: all 1s;
}

news_overlay:hover news_list img {
  transform: scale(1.2);
}
