@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=VT323&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.wrap {
  width: 100vw;
  position: relative;
  height: 100vh;

  overflow: hidden;
}
.test {
  width: 200vw;
  height: 100vh;
  display: flex;
  /* transition: all 1s; */
}
.test2 {
  transition: all 1s;
  font-size: 20px;

  text-align: center;

  color: black;
  margin-top: calc(50vh - 310px);
}

.test3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.CurrIcon {
  width: 100px;
  height: 100px;
  margin: auto;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.wea_image {
  width: 100%;
}

.weather {
  width: 50%;
  margin: auto;
  height: 100vh;
  padding: 0 20px;
}
.top {
  width: 50%;
  text-align: center;
  padding: 0 20px;
}
.CurrTemp {
  margin-right: 20px;
  font-size: 30px;
  color: #ffff66;
}

.City {
  font-size: 30px;

  color: white;
}

.bg {
  background-image: url(./images/bg.jpg);
  /* filter: blur(px); */

  width: 200vw;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  top: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.overlay {
  width: 200vw;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;

  display: flex;

  background-color: rgba(0, 0, 0, 0.1);
}
.inp {
  text-decoration: none;
  font-size: 15px;
  border: none;
  width: 250px;
  padding-left: 10px;
  /* vertical-align: center; */
  display: block;
  border-radius: 5px;
}

.content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.title {
  margin-bottom: 7px;

  font-size: 18px;
}
.main_content {
  margin-top: calc(50vh - 120px);
}
.main_content > p {
  font-size: 14px;
}
.btn {
  border: 0 solid black;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  transform: translateX(-10px);
  padding: 10px 12px;
  border-radius: 0 5px 5px 0;

  display: block;

  /* vertical-align: center; */
}
.danger {
  font-size: 14px;
  color: white;
  margin-top: 30px;
}
.danger span {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.danger span img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 6px;
}
td {
  height: 60px;
}

.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.back_btn {
  background: none;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}
.back_btn i {
  margin-right: 10px;
}
.sub_con {
  color: #e2e2e2;
  font-size: 15px;
  margin-left: 8px;
}
.sub_con:first-child {
  margin: 0;
}
.sub_con span {
  color: #e9e9e9;
  font-size: 15px;
  margin-left: 2px;
}
.circle {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  margin-left: 8px;
}
.clo_wrap {
  margin-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(0, 0, 0, 0.3);
  color: White;
}
table {
  width: 100%;
  font-size: 10px;
  margin-top: 40px;
}
th:first-child {
  width: 50px;
}
td img {
  width: 30px;
  height: 30px;
}

.start {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  color: #48b4e0;
  position: fixed;
  transition: all 0.5s;
  opacity: 1;

  top: 0;
  z-index: 4;
}
.start h1 {
  font-weight: 700;
  text-align: center;
  margin-top: calc(50vh - 23px);
  transform: translateX(-150px);
  opacity: 0;
  animation-name: title;
  animation-duration: 1s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}
@keyframes rotate {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes title {
  0% {
    transform: translateX(-150px);

    opacity: 0;
  }
  75% {
    transform: translateX(20px);
    opacity: 1;

    transform: skewX(-20deg);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
