@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=VT323&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
.wrap {
  width: 100vw;
  position: relative;
  height: 100vh;

  overflow: hidden;
}
.test {
  width: 200vw;
  height: 100vh;
  display: flex;
  transition: all 1s;
}
.test2 {
  transition: all 1s;
  font-size: 20px;
  width: 50%;
  text-align: center;
  background: white;
  color: black;
}

.test3 {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.CurrIcon {
  width: 200px;
  height: 200px;
  margin: auto;
}

.wea_image {
  width: 100%;
}

.right_content {
  width: 50%;
  text-align: center;
}
.weather {
  width: 50%;
  margin: auto;
  height: 100vh;
  padding: 50px;
}
.top {
  width: 50%;
  text-align: center;
}
.CurrTemp {
  margin-right: 20px;
  font-size: 30px;
}

.City {
  font-size: 30px;
}

.bg {
  background-image: url("/images/bg.jpg");
  transition: all 2s;
  transform: scale(1.2);
  width: 200vw;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  top: 0;
  overflow: hidden;
}
.overlay {
  width: 200vw;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;

  display: flex;

  background-color: rgba(255, 255, 255, 0.1);
}
.inp {
  text-decoration: none;
  font-size: 15px;
  border: none;
  width: 20%;
  padding-left: 10px;
  /* vertical-align: center; */
  display: block;
  border-radius: 5px;
}

.content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.title {
  margin-bottom: 10px;
  margin-top: calc(50vh - 100px);
}
.btn {
  border: 0 solid black;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  transform: translateX(-10px);
  padding: 10px 12px;
  border-radius: 0 5px 5px 0;

  display: block;

  /* vertical-align: center; */
}
.back_btn {
  background: none;
  border: none;
  font-size: 20px;
  margin-bottom: 100px;
  color: white;
}
.back_btn i {
  margin-right: 10px;
}
