@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=VT323&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

/* 메인화면 */
.wrap {
  width: 100vw;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main_wrap {
  width: 200vw;
  height: 100vh;
  display: flex;
}
.main_con {
  transition: all 1s;
  font-size: 20px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  color: black;
  margin-top: calc(50vh - 310px);
}

.sub_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.flex {
  display: flex;
  justify-content: space-between;
}

.CurrIcon {
  width: 100px;
  height: 100px;
  margin: auto;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.wea_image {
  width: 100%;
}

.weather {
  width: 50%;
  margin: auto;
  height: 100vh;
  padding: 0 20px;
}
.top {
  width: 50%;
  text-align: center;
  padding: 0 20px;
}
.CurrTemp {
  margin-right: 20px;
  font-size: 30px;
  color: #ffff66;
}

.City {
  font-size: 30px;
  color: white;
}

.bg {
  width: 200vw;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: all 0.5s;
}
.overlay {
  width: 200vw;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;

  display: flex;

  background-color: rgba(0, 0, 0, 0.1);
}
.inp {
  text-decoration: none;
  font-size: 15px;
  border: none;
  width: 250px;
  padding-left: 10px;
  /* vertical-align: center; */
  display: block;
  border-radius: 5px;
}

.content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.title {
  margin-bottom: 7px;

  font-size: 18px;
}
.main_content {
  margin-top: calc(50vh - 120px);
}
.main_content > p {
  font-size: 14px;
}
.btn {
  border: 0 solid black;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  transform: translateX(-10px);
  padding: 10px 12px;
  border-radius: 0 5px 5px 0;

  display: block;
}

/* 비 올때 메시지 */
.danger {
  font-size: 14px;
  color: white;
  margin-top: 30px;
}
.danger span {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.danger span img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-bottom: 6px;
}

.content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
/* 뒤로가기버튼 */
.back_btn {
  background: none;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  color: white;
}
.back_btn i {
  margin-right: 10px;
}
/* 버튼 끝 */

/* 날씨 서브 메시지 */
.sub_con {
  color: #e2e2e2;
  font-size: 15px;
  margin-left: 8px;
}
.sub_con:first-child {
  margin: 0;
}
.sub_con span {
  color: #e9e9e9;
  font-size: 15px;
  margin-left: 2px;
}
.circle {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  margin-left: 8px;
}
/* 서브 메시지 끝 */

/* 테이블 */
.clo_wrap {
  margin-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-color: rgba(0, 0, 0, 0.3);
  color: White;
}
table {
  width: 100%;
  font-size: 10px;
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
}
td {
  height: 60px;
}

th:first-child {
  width: 50px;
}
td img {
  width: 30px;
  height: 30px;
}
/* 테이블 끝 */
/* 시작화면 시작 */
.start {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  color: #48b4e0;
  position: fixed;
  transition: all 0.5s;
  opacity: 1;

  top: 0;
  z-index: 4;
}
.start h1 {
  font-weight: 700;
  text-align: center;
  margin-top: calc(50vh - 23px);
  transform: translateX(-150px);
  opacity: 0;
  animation-name: title;
  animation-duration: 1s;
  animation-timing-function: 1;
  animation-fill-mode: forwards;
}
/* 시작화면 끝 */

/* 로딩중 */
.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  top: 0;
  z-index: 10;
  text-align: center;
  padding-top: 50vh;
}

.loading span {
  background-color: black;
  display: inline-block;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: 2;
  margin-right: 10px;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
  background-color: #48b4e0;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
  background-color: #25a4cd;
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
  background-color: #4fbcdf;
}

/* 애니메이션 */

/* 날씨 아이콘 */
@keyframes rotate {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* 오늘의 날씨 */
@keyframes title {
  0% {
    transform: translateX(-150px);

    opacity: 0;
  }
  75% {
    transform: translateX(20px);
    opacity: 1;

    transform: skewX(-20deg);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* 로딩중 */
@keyframes loading {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

/* 애니메이션 끝 */

/* 반응형 제작 */
@media screen and (min-width: 500px) {
  .main_con {
    width: 400px;
    margin-top: calc(50vh - 370px);
    margin-left: auto;
    margin-right: auto;
  }
  table {
    height: 350px;
    font-size: 12px;
  }
}

@media screen and (min-width: 600px) {
  .main_con {
    width: 500px;
    margin-top: calc(50vh - 370px);
    margin-left: auto;
    margin-right: auto;
  }
  table {
    height: 350px;
    font-size: 12px;
  }
  .title {
    font-size: 25px;
  }
  .main_content > p {
    font-size: 20px;
  }
}
/* 반응형 끝 */
