@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@500;700;900&family=Poppins:wght@100;300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif, "Noto Sans KR", sans-serif;

  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 15px;
  /* line-height: 1.6; */
}
div,
input {
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
  /* 스크롤바 없애는 기능 */
}
body {
  min-width: 800px;
}
.container {
  width: 100%;
}
.status {
  width: 0%;
  z-index: 10;
  height: 3px;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
}

.arrow {
  /* width: 100px; */
  border-radius: 100px;
  padding: 15px;
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 20px;
}
.arrow i {
  font-size: 30px;
  color: White;
  width: 30px;
  height: 30px;
}
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* 헤더시작 */
.header {
  width: 100%;

  position: fixed;
  top: 2px;
  color: White;
  z-index: 2;
  background: rgba(255, 255, 255, 0);
  z-index: 5;
  transition: all 1s;
}
.inner {
  max-width: 1320px;
  margin: auto;
  width: 100%;
}

.header_wrap {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 60px;
}
.logo:hover {
  animation-name: 로고흔들;
  animation-duration: 0.8s;
}
.logo img {
  color: white;
}
.center_header {
  flex-grow: 1;
}

.nav_wrap {
  display: flex;
}
.nav_wrap .nav_list {
  margin-right: 50px;
}

.nav_wrap .nav_list a {
  font-weight: 700;
  transition: all 1s;
  font-family: "Poppins", sans-serif;
}

.darkmode {
  width: 25px;
}
.darkmode img {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 2px;
}
.darkmode img:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
/* 헤더끝 */

/* 비주얼 시작 */
.visual {
  background: linear-gradient(-45deg, rgb(36, 20, 63), #000000);

  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  z-index: 1;
}
.a {
  position: relative;
  padding-bottom: 5px;
}
.a .border_bt {
  position: absolute;
  width: 0%;
  background-color: aliceblue;
  height: 2.5px;
  transition: all 0.5s;
  left: 0;
  bottom: 0;
}
.a:hover .border_bt {
  width: 100%;
}
.a:focus .border_bt {
  width: 100%;
}
.space_person {
  width: 400px;

  margin-top: calc(50vh - 224px);

  animation: 우주인이동;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: all 1s;
}

.visual_wrap {
  display: flex;

  width: 100%;

  padding: 10px 20px;
}
.visual_content {
  color: rgba(255, 255, 255);
  /* position: absolute; */
  height: 100%;
  left: 15px;
  color: #9696ea;
  margin-top: calc(50vh - 145px);
  width: 100%;
}
.visual_content h2 {
  font-size: 100px;
  letter-spacing: 4px;
  line-height: 1.2;
}
.visual_content_main {
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1s;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.visual_content_main2 {
  transform: translateY(100px);
  opacity: 0;
  font-weight: 700;

  transition: all 1s;
  font-family: "Poppins", sans-serif;
}
.visual_content_sub {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;

  width: 100%;
  font-weight: 700;

  transition: all 0.5s;
  opacity: 0;
}
/* 비주얼끝 */

/* 섹션시작 */
.content {
  width: 100%;
}
/* 섹션1 시작 */
.content_one {
  background-color: white;

  position: relative;
  overflow: hidden;
}
.content_wrap {
  padding: 0 100px;
}

.skill_image img {
  height: 100%;
}
.one_wrap {
  display: flex;
  padding: 100px 50px;
}
.left_content {
  width: 20%;
  text-align: left;
  transform: translateY(-30px);
  opacity: 0;

  transition: all 1s;
}
.left_content > p > span {
  font-size: 100px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  color: rgba(128, 0, 255);
}
.left_content > p {
  font-weight: 700;
  color: rgba(128, 0, 255);
  /* line-height: 1.2; */
  font-weight: 700;
}
.left_content > p:last-child {
  font-weight: 400;
  color: #34323f;
  opacity: 0.4;
  width: 120px;
}
.right_content {
  width: 80%;
  margin-left: 30px;
}
.right_content h2 {
  font-size: 28px;

  color: #34323f;
  font-weight: 700;
  line-height: 1.5;
}
.right_content .produce_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  font-weight: 700;
}
.right_content .produce_wrap li {
  width: calc(50% - 25px);
  margin-top: 60px;
  margin-left: 50px;
}
.right_content .produce_wrap li:first-child {
  margin-left: 0;
}
.right_content .produce_wrap li:nth-child(3) {
  margin-left: 0;
}

.right_content .produce_wrap li h4 {
  color: #34323f;
  opacity: 0.65;
  font-size: 22px;
  transform: rotate(0.04deg);

  margin-bottom: 10px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.right_content .produce_wrap li p {
  color: #5c5c5c;
  font-weight: 400;
  opacity: 0.8;
  transform: rotate(0.04deg);

  line-height: 1.6;
}

/* 섹션1 끝 */

/* 섹션2 시작 */
.content_two {
  position: relative;
}
.background_image {
  background-image: url("./images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
  opacity: 0.6;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  height: 800px;

  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.overlay2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.skill_con {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

.two_wrap {
  padding: 0 100px;
}
.two_circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  bottom: -300px;
  right: -600px;
  background: rgba(0, 0, 0, 0.1);
  transition: all 1s;
  opacity: 1;
}
.two_title {
  color: #9696ea;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}
.two_sub {
  font-size: 15px;
  text-align: center;
  color: White;
  font-weight: 400;
}

.skill_wrap {
  position: relative;

  opacity: 0;
  transition: all 0.5s;
}
.main_title {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e2e2;
  padding: 2px 0;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  color: #e2e2e2;
  font-weight: 400;
  font-size: 14px;
}

.sub_title {
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e2e2;
  padding: 2px 0;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  color: #e2e2e2;
  transform: rotate(0.04deg);

  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.skill_one {
  display: flex;
  height: 170px;
  align-items: center;

  /* margin-left: 100px; */
}
.skill_one li {
  margin-top: 30px;

  display: flex;

  height: 90px;
  width: 90px;
  overflow: hidden;
  align-items: center;
  background: black;
  border-radius: 5px;
  border: 1px solid #333333;

  margin-right: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  transition: all 1s;

  white-space: nowrap;

  transition: 300ms ease;
  z-index: 3;
}
.skill_one li:hover {
  width: 300px;
  height: 140px;
}

.skill_content {
  white-space: nowrap;
  padding-bottom: 10px;
  /* line-height: 1.5; */
  opacity: 0;
}
.year {
  display: inline-block;
  margin-right: 20px;
  font-weight: 400;
}
.skill_content > h2 {
  font-size: 15px;
  font-weight: 700;
}
.skill_content > p {
  font-size: 14px;
  transform: rotate(0.04deg);

  margin-top: 2px;
  width: 100%;
  white-space: normal;
  font-weight: 500;
  line-height: 1.4;
}
.skill_one li > img {
  width: 50px;
  height: 50px;
  padding: 20px;

  text-align: center;
}
.skill_one .skill_content {
  color: white;

  transition: all 1s;

  width: 60%;
}
.skill_content > h2 {
  font-family: "Poppins", sans-serif;
}

/* 섹션2 끝 */

/* 섹션3 시작 */
.content_three {
  width: 100%;

  color: white;
  margin: auto;
  padding: 100px 20px;
  box-sizing: border-box;
  background: linear-gradient(
    rgb(29, 31, 36),
    rgb(18, 18, 21) 70%,
    rgb(29, 31, 36) 100%
  );
}
.left_arrow {
  position: absolute;
  top: 50%;
  left: 10%;

  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: none;
}

.right_arrow {
  position: absolute;
  top: 50%;
  right: 10%;

  animation-name: arrow2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.left_arrow i,
.right_arrow i {
  font-size: 40px;
  padding: 5px;
  color: #777777;
}
.left_arrow i:hover,
.right_arrow i:hover {
  color: #e2e2e2;
}

.three_title {
  text-align: center;
  font-size: 40px;
  color: #9696ea;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.three_sub {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.left_archive {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  height: 350px;
  overflow: hidden;
  transition: all 0.5s;

  overflow: hidden;
}
.left_archive img {
  height: 100%;
  transition: all 0.5s;
}

.right_archive {
  width: 100%;
  margin: auto;
}
.full_archive {
  width: 660px;
}
.archive_title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.archive_num {
  font-size: 40px;
  width: 100px;
  display: inline-block;
  color: white;
  color: #9696ea;
  font-weight: 700;
}
.archive_pro {
  margin-top: 10px;
  font-weight: 500;
}
.archive_port {
  font-size: 16px;
  width: 100px;
  font-weight: 700;
  display: inline-block;
}
.archive_skill {
  margin-top: 10px;
  font-weight: 500;
}

.archive_skill2 {
  width: 100px;
  display: inline-block;
  font-weight: 700;
}
.archive_content {
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.5;
}
.archive_btn {
  margin-top: 30px;
  height: 50px;
}
.archive_btn a {
  padding: 10px 20px;
  background-color: #444444;
  margin-left: 10px;
  border-radius: 2px;
  border: none;

  color: white;
}
.archive_btn a:hover {
  background-color: #333333;
}
.archive_btn a:first-child {
  margin: 0;
  background-color: rgba(128, 0, 255, 0.6);
}
.archive_btn a:first-child:hover {
  background-color: rgba(128, 0, 255, 0.8);
}

/* 섹션3 끝 */

/* 섹션4 시작 */
.wrap {
  position: relative;

  top: 100px;
  transition: all 0.5s;
  opacity: 0;
}
.overflow {
  display: flex;
  transition: all 0.5s;
}

.archive_wrap {
  width: 660px;
  margin-left: calc(50% - 330px);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 50px;
}

.content_four {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.four_image {
  position: absolute;
  background-image: url("./images/contact_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  height: 100%;
  transform: scale(1.4);
  transition: all 3s;
}
.four_overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 31, 36, 0.7);
  transition: all 0.5s;
}
.four_wrap {
  padding: 0 200px;
}
.contact_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(50vh - 180px);
}
.contact_content h4 {
  font-size: 50px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.contact_content p {
  color: #e2e2e2;
  font-weight: 500;
  line-height: 1.5;
  transform: rotate(0.04deg);
}
.contact_content button {
  padding: 10px 20px;
  color: White;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  font-weight: 400;

  margin-top: 20px;
}
.contact_content button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.contact_image {
  width: 400px;
  width: 400px;
  border-radius: 400px;
  overflow: hidden;
  transform: translateX(-100px);
  transition: all 1s;

  opacity: 0;
}
.contact_image img {
  width: 100%;
  height: 100%;
}

.myInfo {
  width: 500px;
  /* height: 100px; */
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  top: calc(50% - 136px);
  /* opacity: 0; */
  left: calc(50% - 250px);
  border-radius: 5px;
  transition: all 0.3s;
  display: none;
  z-index: 10;
}
.myInfo .top_nav {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.myInfo .top_nav h2 {
  font-size: 20px;
}

.close i {
  font-size: 30px;
}
.info_image {
  width: 40px;
  height: 40px;
}
.main_info {
  padding: 0px 20px 20px 20px;
  text-align: center;
}
.main_info li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main_info li .info_image {
  margin-right: 20px;
}
.main_info li > p {
  font-size: 16px;
}
.main_info li > p a {
  font-size: 16px;
}
/* 섹션4 끝 */
.new_wrap {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}
.new_wrap li {
  display: flex;
  align-items: center;
  width: calc(50% - 57px);
  margin-left: 50px;
  margin-top: 70px;
  padding: 15px;
  background-color: black;

  border-radius: 5px;
  border: 1px solid #333333;
}
.new_list:first-child {
  margin: 0;
}
.new_list:nth-child(2) {
  margin-top: 0;
}
.new_list:nth-child(3) {
  margin-left: 0;
}
.new_list:nth-child(5) {
  margin-left: 0;
}
.new_list:nth-child(7) {
  margin-left: 0;
}
.new_img {
  width: 70px;
  height: 50px;

  opacity: 0.8;
}
.new_img img {
  width: 30px;
  margin: auto;
  margin-top: 15px;
}
.new_content {
  margin-left: 20px;
  color: #e2e2e2;
}
.new_content h4 {
  margin-bottom: 5px;
  font-size: 15px;

  font-weight: 700;
}
.new_content p {
  font-weight: 500;
  transform: rotate(0.04deg);
  font-size: 14px;
}
.graph_wrap {
  margin-top: 10px;
  position: relative;
}
.graph2 {
  position: absolute;
  top: 0;

  width: 100%;
  height: 10px;
  width: 100%;
  height: 10px;
  background-color: white;
  border-radius: 8px;
}
.graph2_overlay {
  position: absolute;
  top: 0;

  height: 10px;
  border-radius: 8px;
  background: linear-gradient(#ffdd00, #fbb034);
}
.nosee {
  display: none;
}
.one_circle {
  width: 1000px;
  height: 1000px;
  position: absolute;

  top: 50px;
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 500px;
  z-index: -1;
  right: -1000px;
  transition: all 1s;
}

@keyframes 로고흔들 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes 우주인이동 {
  50% {
    margin-top: calc(50vh - 194px);
  }
  100% {
    margin-top: calc(50vh - 224px);
  }
}

@keyframes arrow {
  50% {
    left: 10.5%;
  }
  100% {
    left: 10%;
  }
}
@keyframes arrow2 {
  50% {
    right: 10.5%;
  }
  100% {
    right: 10%;
  }
}

@media screen and (max-width: 1100px) {
  .space_person {
    display: none;
  }
  .visual_wrap {
    display: block;
    text-align: center;
  }
  .visual_content_sub {
    opacity: 0;
  }
  .one_wrap {
    display: block;
  }
  .left_content {
    display: none;
  }
  .right_content {
    width: 100%;
    /* text-align: center; */
  }
  .right_content > h2 {
    text-align: center;
  }
  .year {
    display: none;
  }
  .one_wrap {
    padding: 100px 0;
  }
  .one_circle {
    width: 400px;
    height: 400px;
  }
  .two_wrap {
    padding: 0;
    color: white;
  }
  .nosee {
    display: block;
  }

  .skill_one li {
    width: 70px;
    height: 70px;
    margin-top: 0;
  }
  .skill_one li h2 {
    font-size: 12px;
  }
  .skill_one li p {
    font-size: 10px;
  }
  .skill_one li img {
    width: 34px;
    height: 30px;
  }
  .skill_one li:hover {
    width: 250px;
    height: 130px;
  }
  .full_archive {
    padding: 0 100px;
  }
  .left_archive {
    height: 300px;
  }

  .left_arrow i,
  .right_arrow i {
    font-size: 30px;
  }
  .right_content {
    margin: 0;
  }

  .right_content .produce_wrap li {
    width: calc(50% - 15px);
    margin: 30px 0 0 30px;
  }
  .right_content .produce_wrap li:first {
    margin: 30px 0 0 0;
  }
  .four_wrap {
    padding: 0;
  }
  .contact_wrap {
    display: block;
    margin-top: calc(50vh - 240px);
  }

  .contact_image {
    margin: auto;
    width: 300px;
    height: 300px;
  }
  .contact_content {
    text-align: center;
    margin-top: 30px;
  }
  .contact_content h4 {
    font-size: 40px;
  }
  .info_button {
    font-size: 12px;
  }
  .skill_wrap {
    display: none;
  }
  .background_image {
    height: 950px;
  }
  .two_sub {
    display: none;
  }
  .content_wrap {
    padding: 0 50px;
  }
  .graph_wrap {
    display: none;
  }
}
