@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Poppins:wght@300;400;500;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
}
div,
input {
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
  /* 스크롤바 없애는 기능 */
}

.container {
  width: 100%;
  /* overflow: hidden; */
  /* scroll-snap-type: none; */
}
.status {
  width: 0%;
  z-index: 10;
  height: 3px;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
}

.arrow {
  /* width: 100px; */
  border-radius: 100px;
  padding: 15px;
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 20px;
}
.arrow i {
  font-size: 30px;
  color: White;
  width: 30px;
  height: 30px;
}
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.header {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0); */
  position: fixed;
  top: 2px;
  color: White;
  z-index: 2;
  background: rgba(255, 255, 255, 0);
  z-index: 5;
  transition: all 1s;
}
.inner {
  max-width: 1320px;
  margin: auto;
  width: 100%;
}

.header_wrap {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 60px;
}
.logo:hover {
  animation-name: 로고흔들;
  animation-duration: 0.8s;
}
.logo img {
  color: white;
}
.center_header {
  flex-grow: 1;
}

.nav_wrap {
  display: flex;
}
.nav_wrap .nav_list {
  margin-right: 50px;
  /* padding-bottom: 5px; */
  /* opacity: 0; */
  /* border-bottom: 2.5px solid white; */
}

.nav_wrap .nav_list a {
  font-weight: 700;
  transition: all 1s;
}
/* .nav_wrap .nav_list:last-child {
  margin: 0;
} */
.darkmode {
  width: 2%;
}
.darkmode img {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 2px;
}
.darkmode img:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.visual {
  background: linear-gradient(-45deg, rgb(36, 20, 63), #000000);
  /* background: #bbd7db; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* transform: translateY(100vh); */
}
.a {
  position: relative;
  padding-bottom: 5px;
}
.a .border_bt {
  position: absolute;
  width: 0%;
  background-color: aliceblue;
  height: 2.5px;
  transition: all 0.5s;
  left: 0;
  bottom: 0;
}
.a:hover .border_bt {
  width: 100%;
}
.a:focus .border_bt {
  width: 100%;
}
.space_person {
  position: absolute;
  width: 450px;
  right: -450px;
  top: calc(50% - 150px);
  animation: 우주인이동;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: all 1s;
  /* transform: rotate(-10deg); */
}

.visual_wrap {
  width: 100%;
  /* position: relative; */
  padding: 10px 20px;
}
.visual_content {
  color: rgba(255, 255, 255);
  /* position: absolute; */
  height: 100%;
  left: 15px;
  color: orange;
  margin-top: calc(50vh - 150px);
  width: 100%;
}
.visual_content h2 {
  font-size: 100px;
  letter-spacing: 4px;
  line-height: 1.2;
}
.visual_content_main {
  transform: translateX(-100px);
  opacity: 0;
  transition: all 1s;
}
.visual_content_main2 {
  transform: translateY(100px);
  opacity: 0;
  transition: all 1s;
}
.visual_content_sub {
  color: white;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
  border-right: 2px solid white;
  width: 385px;
  display: none;
  overflow: hidden;
  white-space: nowrap;
  /* white-space 란 글자수가 많아서 width 값을 초과하는경우 한 줄로 감싸주는 속성 */
  animation: blink 0.5s infinite, typing 2s steps(20);
}
.content {
  width: 100%;
}
.content_one {
  background-color: white;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.content_wrap {
  padding: 0 100px;
}

.skill_image img {
  height: 100%;
}
.one_wrap {
  display: flex;
  margin-top: calc(50vh - 300px);
}
.left_content {
  width: 20%;
  text-align: left;
  margin-top: 80px;
  opacity: 0;
  transition: all 1s;
}
.left_content > p > span {
  font-size: 100px;
  font-weight: 700;
  font-family: "Noto Sans KR", sans-serif;
  color: rgba(128, 0, 255);
}
.left_content > p {
  font-weight: 700;
  color: rgba(128, 0, 255);
}
.left_content > p:last-child {
  font-weight: 700;
  color: #34323f;
  opacity: 0.4;
  width: 120px;
}
.right_content {
  width: 80%;
  margin-top: 30px;
}
.right_content h2 {
  font-size: 28px;
  /* padding-bottom: 30px; */
  color: #34323f;
}
.right_content .produce_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.right_content .produce_wrap li {
  width: calc(50% - 25px);
  margin-top: 30px;
  margin-left: 50px;
}
.right_content .produce_wrap li:first-child {
  margin-left: 0;
}
.right_content .produce_wrap li:nth-child(3) {
  margin-left: 0;
}

.right_content .produce_wrap li h4 {
  color: #999999;
  font-size: 20px;
  margin-bottom: 10px;
}
.right_content .produce_wrap li p {
  color: #5c5c5c;
}
.one_circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  bottom: -300px;
  left: -600px;
  background-color: #f6f6f6;
  transition: all 1s;
  opacity: 0;
}
.content_two {
  position: relative;
}
.background_image {
  background-image: url("./images/emile-perron-xrVDYZRGdw4-unsplash.jpg");
  opacity: 0.6;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  height: 800px;

  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.overlay2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.test {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

.two_wrap {
  padding: 0 100px;
  /* margin-top: calc(50vh - 300px); */
  /* position: relative; */
}
.two_circle {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  bottom: -300px;
  right: -600px;
  background: rgba(0, 0, 0, 0.1);
  transition: all 1s;
  opacity: 1;
}
.two_title {
  color: #9696ea;
  /* color: #9696ea; */
  text-align: center;
  font-size: 40px;
}
.two_sub {
  font-size: 15px;
  text-align: center;
  color: White;
}

.skill_wrap {
  position: relative;
  /* display: none; */
  opacity: 0;
  transition: all 0.5s;
  /* margin-top: 30px; */
}
.main_title {
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e2e2;
  padding: 2px 0;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  color: #e2e2e2;
  font-weight: 400;
  font-size: 14px;
}

.sub_title {
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e2e2;
  padding: 2px 0;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  color: #e2e2e2;
  font-weight: 400;
  font-size: 14px;
}
.skill_one {
  display: flex;
  height: 170px;
  align-items: center;

  /* margin-left: 100px; */
}
.skill_one li {
  margin-top: 30px;

  display: flex;

  /* padding: 10px 20px; */
  height: 90px;
  width: 90px;
  overflow: hidden;
  align-items: center;
  background: black;
  border-radius: 5px;
  border: 1px solid #333333;
  /* width: 200px; */
  margin-right: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  transition: all 1s;
  /* overflow: hidden; */
  white-space: nowrap;

  transition: 300ms ease;
  z-index: 3;
}
.skill_one li:hover {
  width: 300px;
  height: 150px;
}

.skill_content {
  white-space: nowrap;
  padding-bottom: 10px;

  opacity: 0;
}
.skill_content > p {
  font-size: 14px;
  margin-top: 2px;
  width: 100%;
  white-space: normal;
}
.skill_one li > img {
  width: 50px;
  height: 50px;
  padding: 20px;
  /* margin-right: 20px; */
  text-align: center;
}
.skill_one .skill_content {
  color: white;
  /* display: none; */
  transition: all 1s;
  /* padding: 20px 0; */
  width: 55%;
}
.graph {
  position: relative;
  margin-top: 10px;
  width: 100%;
  border: none;
}
.graph span:first-child {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: white;
  border-radius: 8px;
}
.graph span:last-child {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  border-radius: 8px;
  background: linear-gradient(#ffdd00, #fbb034);
  z-index: 2;
  transition: all 1s;
}

.content_three {
  width: 100%;
  /* max-width: 1200px; */
  color: white;
  margin: auto;
  padding: 100px 20px;
  box-sizing: border-box;
  background: linear-gradient(
    rgb(29, 31, 36),
    rgb(18, 18, 21) 70%,
    rgb(29, 31, 36) 100%
  );
}
.left_arrow {
  position: absolute;
  top: 50%;
  left: 10%;
  /* width: 200px; */
  /* height: 200px; */
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  display: none;
}

.right_arrow {
  position: absolute;
  top: 50%;
  right: 10%;
  /* width: 200px; */
  animation-name: arrow2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* height: 200px; */
}
.left_arrow i,
.right_arrow i {
  font-size: 40px;
  padding: 5px;
  color: #777777;
}
.left_arrow i:hover,
.right_arrow i:hover {
  color: #e2e2e2;
}

.three_title {
  text-align: center;
  font-size: 40px;
  color: #9696ea;
}
.three_sub {
  text-align: center;
  font-size: 15px;
}

.left_archive {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  height: 350px;
  overflow: hidden;
  transition: all 0.5s;

  overflow: hidden;
}
.left_archive img {
  height: 100%;
  transition: all 0.5s;
}

.right_archive {
  width: 100%;
  margin: auto;
}
.full_archive {
  width: 660px;
  /* margin: auto; */
  /* height: 800px; */
}
.archive_title {
  font-size: 20px;
}
.archive_num {
  font-size: 40px;
  width: 100px;
  display: inline-block;
  color: white;
  color: #9696ea;
}
.archive_pro {
  margin-top: 10px;
}
.archive_port {
  width: 100px;
  display: inline-block;
}
.archive_skill {
  margin-top: 10px;
}

.archive_skill2 {
  width: 100px;
  display: inline-block;
}
.archive_content {
  margin-top: 20px;
}
.archive_btn {
  margin-top: 30px;
  height: 50px;
}
.archive_btn a {
  padding: 10px 20px;
  background-color: #444444;
  margin-left: 10px;
  border-radius: 2px;
  border: none;

  color: white;
}
.archive_btn a:hover {
  background-color: #333333;
}
.archive_btn a:first-child {
  margin: 0;
  background-color: rgba(128, 0, 255, 0.6);
}
.archive_btn a:first-child:hover {
  background-color: rgba(128, 0, 255, 0.8);
}
.wrap {
  position: relative;
  /* height: 1000px; */
  /* width: calc(660px * 2); */
  top: 100px;
  transition: all 0.5s;
  opacity: 0;
}
.overflow {
  display: flex;
  transition: all 0.5s;
}

.archive_wrap {
  width: 660px;
  margin-left: calc(50% - 330px);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-top: 50px;
}

.content_four {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.four_image {
  position: absolute;
  background-image: url("./images/contact_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  height: 100%;
  transform: scale(1.4);
  transition: all 3s;
}
.four_overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 31, 36, 0.7);
  transition: all 0.5s;
}
.four_wrap {
  padding: 0 200px;
}
.contact_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(50vh - 180px);
}
.contact_content h4 {
  font-size: 50px;
  color: white;
}
.contact_content p {
  color: #e2e2e2;
}
.contact_content button {
  padding: 10px 20px;
  color: White;
  background-color: rgba(128, 0, 255, 0.6);
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}
.contact_content button:hover {
  background-color: rgba(128, 0, 255, 0.8);
}
.contact_image {
  width: 400px;
  width: 400px;
  border-radius: 400px;
  overflow: hidden;
  transform: translateX(-100px);
  transition: all 1s;

  opacity: 0;
}
.contact_image img {
  width: 100%;
  height: 100%;
}

.myInfo {
  width: 500px;
  /* height: 100px; */
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  top: calc(50% - 136px);
  /* opacity: 0; */
  left: calc(50% - 250px);
  border-radius: 5px;
  transition: all 0.3s;
  display: none;
  z-index: 10;
}
.myInfo .top_nav {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.myInfo .top_nav h2 {
  font-size: 20px;
}

.close i {
  font-size: 30px;
}
.info_image {
  width: 40px;
  height: 40px;
}
.main_info {
  padding: 0px 20px 20px 20px;
  text-align: center;
}
.main_info li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.main_info li .info_image {
  margin-right: 20px;
}
.main_info li > p {
  font-size: 16px;
}
.main_info li > p a {
  font-size: 16px;
}

@keyframes 로고흔들 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  75% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes 우주인이동 {
  50% {
    top: calc(50% - 200px);
    /* transform: rotate(10deg); */
  }
  100% {
    top: calc(50% - 150px);
    /* transform: rotate(40deg); */

    /* transform: rotate(-10deg); */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 390px;
  }
}
@keyframes arrow {
  50% {
    left: 10.5%;
  }
  100% {
    left: 10%;
  }
}
@keyframes arrow2 {
  50% {
    right: 10.5%;
  }
  100% {
    right: 10%;
  }
}
/* <div class="full_archive">
                      <div class="left_archive">
                        <img src="./images/archive_image1.png" alt="" />
                      </div>
                      <div class="right_archive">
                        <h4 class="archive_title">
                          <span class="archive_num">01</span>SIMFLIX
                        </h4>
                        <p class="archive_pro">
                          <span class="archive_port">Viewport</span>반응형 ( PC
                          , 태블릿 )
                        </p>
                        <p class="archive_skill">
                          <span class="archive_skill2">Skill</span>HTML + CSS +
                          JS
                        </p>
                        <p class="archive_content">
                          넷플릭스 페이지를 참고하여 특색있는 영화 사이트를
                          리뉴얼 하였습니다. JS 를 이용하여 영화 검색 기능을
                          구현 하였고 슬라이더에 상세 정보를 클릭하면 상세한
                          정보를 제공합니다.
                        </p>
                      </div>
                    </div> */
