@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.bg {
  text-align: center;
  background-color: #ebece4;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
#canvas {
  margin-top: 50px;
}
body {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: White;
  font-size: 18px;
  border-radius: 5px;
  margin-left: 10px;

  padding: 8px 12px;
}
button:first-child {
  margin: 0;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
h2 {
  padding: 20px;
  font-size: 60px;
  transform: translateY(120px);
  z-index: 2;
}

@media screen and (max-width: 500px) {
  #canvas {
    width: 300px;
    height: 300px;
  }
  h2 {
    font-size: 50px;
    transform: translateY(60px);
  }
  button {
    font-size: 10px;
    margin-left: 5px;
  }
}
