@charset "utf-8";
@import url(./all.css);

html{
    --color:#46634B;
    font-size: 14px;
}

body{
    color: #494949;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif, 'Gulzar', serif;
}

/* main_item */
#visual{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#gallery_bath1{
    position: relative;   
}
#gallery_bath1 .swiper-pagination-bullet-active{
    background: rgba(70, 99, 75, 0.8);
}
.text_area{
    padding: 0 20px;
    margin: 22px 0;
}

.text_area h2{
    font-size: 20px;
    font-weight: 700;
    color: #2b2b2b;
    margin-bottom: 24px;
}

.text_area h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text_area .txt_1{
    font-size: 12px;
    margin-bottom: 20px;
}

.text_area .color{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 0.1px solid #111;
    margin-right: 5px;
    margin-bottom: 5px;
}

.text_area .white{
    background-color: #fff;
}

.text_area .beige{
    background-color: #ECDCC5;
}

.text_area .blue{
    background-color: #ECDCC5;
}

.text_area .green{
    background: #9AA28B;
}
.text_area .txt_2{
    font-size: 12px;
    font-weight: 700;
    color: var(--color);
}

.menu_list{
    display: flex;
}

.menu_list li{
    width: calc(100%/4);
    height: 45px;
    background: #cfcfcf;
    color: #2b2b2b;
    border-right: 1px solid #fff;
    text-align: center;
    line-height: 45px;
}
.menu_list li:last-child{
    border-right: none;
}

.menu_list>li>a.on{
    background: var(--color);
    color: #fff;
}
.menu_list>li>a{
    width: 100%;
}

.menu_list li.on{
    background-color: var(--color);
    color: #fff;
}




.con1 .sub,
.con2 .sub,
.con3 .sub{
    padding: 20px;
}

.menu_bottom .bmenu_list .tab_menu{
    width: 100%;
    height: 45px;
    text-indent: 10px;
    background: #ececec;
    color: #2b2b2b;
    line-height: 45px;
    position: relative;
}

/* con1_상품 상세 정보 */
.menu_bottom .bmenu_list .con1 .sub img{
    margin-bottom: 10px;
}
.menu_bottom .bmenu_list .con1 .sub p{
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 10px;
}
.menu_bottom .bmenu_list .con1 .sub a{
    width: calc(100%/2 - 1%);
    text-align: center;
    background: #ECECEC;
    height: 45px;
    line-height: 45px;
    border-radius: 3px;
}

/* con2_상품 리뷰 */
.con2 .sub .review a{
    display: flex;
    margin-bottom: 23px;
}

.con2 .sub .review .img_box{
    margin-right: 16px;
}

.con2 .sub .review img{
    width: 120px;
    height: 120px;
}

.con2 .sub .text_box{
    width: 200px;
    font-size: 10px;
}

.con2 .sub .review .star_list{
    display: flex;
    font-size: 12px;
    margin-bottom: 6px;
}

.con2 .sub .review .star_list li{
    margin-right: 3px;
    color: var(--color);
}
.con2 .sub .review:nth-child(2) .star_list li:nth-child(5){
    color: #C6C6C6;
}
.con2 .sub .review .star_list li:nth-child(6){
    color: #2b2b2b;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
}

.con2 .sub .text_box .txt_1{
    font-size: 8px;
    color: #636363;
}
.con2 .sub .text_box .txt_2{
    color: #111;
    margin-bottom: 10px;
}

.con2 .sub .text_box .txt_3{
    font-size: 14px;
    line-height: 1.3;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all; 
}

.con2 .sub .view_more{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #2b2b2b;
    border-radius: 3px;
}

/* con3_상품 문의 */
.con3{
    position: relative;
}
.con3 .btn_q{
    padding: 5px 10px;
    background: var(--color);
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 60px;
    right: 20px;
}
.con3 .sub{
    margin-top: 20px;
}

.con3 .sub .box{
    height: 100px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 20px;
}

.con3 .sub .box .txt_1{
    padding: 2px 6px;
    background: #656565;
    border-radius: 3px;
    color: #fff;
    margin-right: 6px;
}

.con3 .sub .box .txt_2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.con3 .sub .box .txt_3{
    font-size: 8px;
}

.con3 .sub .box{
    position: relative;
}

.con3 .sub .box .btn_more{
    position: absolute;
    top: 38px;
    right: 10px;
}

.con3 .sub .view_more{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #2b2b2b;
    border-radius: 3px;
}

/* con4_룩 완성하기 */
.con4 .sub{
    padding: 20px 0px 20px 20px;
}

.con4 .look_list .tit{
    font-weight: 500;
    font-size: 14px;
}
.con4 .look_list .price{
    font-size: 12px;
}
#gallery_bath2 img{
    width: 148px;
    height: 194px;
}

/* under_btn */
.under_btn{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: flex;
    color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 100;
}
.under_btn .buy_btn{
    width: 50%;
    background: var(--color);


}

.under_btn .cart_btn{
    width: 50%;
    background: #939090;
}