@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url(./all.css);

/* #contents .menu_list .menu img{width:calc(100%/2); height:calc(100%/2);} */
#contents>div{padding:0 20px; margin-top: 30px;}
.menu_slider{padding-left:20px;}
.menu_header h2, #contents .menu_header p{text-align: center;}

.menu_header h2{
    font-size: 20px;
    font-weight: 700;
    color: #2b2b2b;
    margin: 15px 0;
}

.menu_list{margin-bottom:15px;}

.bar{background: rgba(70, 99, 75, 0.4); display: flex; justify-content: space-between; align-items:center; margin-top:15px; height:80px;} 

.bar .form{width:30%;}
.bar select{background-color: #f1f1f1; width:100%; border-radius: 3px; height: 30px; font-size: 14px; padding:0 10px; color:#2b2b2b;
            background-image: url(../images/kitchen_sub1/arrow_down.svg); background-repeat: no-repeat; background-position: 95% 50%;}
.bar .sel{margin-left:7px;}
#view{
    appearance: none;

}
/* sec2 */
.sec2{
    display: flex;
    position: relative;
    background: #B5C0B7;
    height: 80px;
    padding: 0 20px;
}
.sec2 .view_menu{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 105px;
    background: #ececec;
    line-height: 28px;
    text-indent: 6px;
    border-radius: 3px;
}

.sec2 .view_menu select{
    width: 105px;
    background: url(../images/bath_sub1/down_arrow.svg) no-repeat 83% 50%;
}
.sec2 .array_btn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.sec2 .array_btn>div{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    background: #ececec;
    border-radius: 3px;
}
.sec2 .array_btn .line_1{
    margin-right: 7px;
}

.product .product_list{ display: flex;flex-wrap: wrap; justify-content: space-between; margin-top:20px;}
.product .product_list li{
    width:47%;
    height: 230px;
    margin-bottom: 20px;
}
.product .product_list .name{font-weight: 700;}
.product .product_list .price{color:#4f4f4f;}
.product .img_box{position: relative;}
.product .heart{position: absolute; right:10px; bottom:10px; font-size: 20px; color: rgba(114,114,114,0.5);}
.product .heart.on{color:rgba(255, 83, 83, 0.7);}



.filter_btn{position: fixed; right:20px; bottom:30px; display: none;}

/* sec4_페이지 */
.sec4{
    text-align: center;
    margin-bottom: 40px;
}

.sec4 .page_list .num{
    width: 25px;
    height: 25px;
    line-height: 23px;
    border-radius: 50%;
    border: 0.3px solid #D4D4D4;
    margin: 0 2px;
    color: #2b2b2b;
}
.sec4 .page_list a i{
    color: var(--color);
    font-weight: 700;
    width: 20px;
    height: 20px;
}
.sec4 .page_list .active{
    background: var(--color);
    color: #fff;
}