@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url(./all.css);

/* #contents{padding:0 20px;} */
.product_txt{padding:0 20px; box-sizing: border-box; margin:22px 0;}
.product_txt h2{font-size: 2rem; margin-bottom: 24px; font-weight: 700;}
.product_txt .price{font-size: 1.8rem; margin-bottom: 10px; font-weight: 700;}
.product_txt .color{width:15px; height:15px; border-radius: 50%; background: #AC8D68; margin-right: 5px; margin-bottom: 5px;
border:0.1px solid #111;}
.product_txt .color2{background: #524C45;}
.product_txt .txt_1{font-size: 12px; margin-bottom: 20px;}
.product_txt .txt_2{font-size: 12px; font-weight: 700; color: #46634B;}
.info_tab .tab_list{display: flex;}
.info_tab .tab_list li{width:calc(100%/4); line-height: 45px; background: #cfcfcf; border-right: 1px solid #fff; text-align: center;}
.info_tab .tab_list li:last-child{border-right: none;}
.info_tab .tab_list li.on{background-color: #46634B; color:#fff;}

.product .arrow{position: absolute; right:25px;}
.product .tit{font-size: 1.4rem; padding-bottom: 1rem;}
.cinfo{background: #ececec; color:#2b2b2b; font-size: 14px; height:45px; line-height: 45px; padding:0 20px;
box-sizing: border-box;}
.product .pic_area, .product .question_area{padding:20px;}
.product .pic_list p{margin:15px auto 25px; text-align: center; font-size: 1.4rem; box-sizing: border-box; color:#494949;}

.pic_list img{margin-bottom: 10px;}

.plus_info, .review_all, .qu_all{display: flex; text-align: center; justify-content: space-between;}
.product .plus_info a{background: #ececec; border-radius: 3px; width:48%; line-height: 45px; height:45px;}

/* tab_menu */
.tab_list>li>a.on{
    background: var(--color);
    color: #fff;
}
.tab_list>li>a{
    width: 100%;
}

/* 리뷰 */
.review_area{
    padding: 20px;
}
.review_area .re{display: flex; margin-bottom: 23px;}
.review_area .img_box{margin-right: 16px;}
.review_area img{width:120px; height:120px;}
.review_area .txt_box{width:210px;}
.review_area .star_list{
    display: flex; 
    font-size: 12px;
    margin-bottom: 6px;
}

.review_area .star_list li{
    margin-right: 3px;
    color: var(--swiper-theme-color);
}
.review_area .re2 .star_list li:nth-child(5){
    color: #c6c6c6;
}

.review_area .star_list li:nth-child(6){
    color: #2b2b2b;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3;
}

.review_area .txt_box .txt_1{
    font-size: 8px;
    color: #636363;
}
.review_area .txt_box .txt_2{
    color: #111;
    margin-bottom: 10px;
    font-size: 8px;
}
.review_area .txt_box .txt_3{
    font-size: 14px;
    line-height: 1.3;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-break: keep-all; 
}


.view_more{
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #2b2b2b;
    border-radius: 3px;
}


.question .btn{position: absolute; right:20px; background: #46634B; padding:5px 10px; color:#fff; border-radius: 5px; font-size: 1.4rem;}

.qu{border-bottom: 1px solid #f1f1f1; margin-bottom: 30px;}
.question .qu_area{padding:45px 0px 0 5px; box-sizing: border-box;}
.question .qu_area .ing{color:#2b2b2b; font-size:1.2rem; background:#f1f1f1; text-align: center;
                    width:48px; height:15px; line-height:17px; border-radius:3px; margin-left: 5px;}
.question .date_name{font-size: 1.2rem; text-indent: 20px; margin-top: 8px;}
.question .reply{margin-left: 25px;}
.question .date{font-size: 1.2rem; text-indent: 63px; margin-top: 6px;}


.look .look_list .name{font-size: 1.4rem; font-weight: 500;}
.look .look_list .price{font-size: 1.2rem;}
.look .look_area{margin-bottom: 20px;}

.mlook{padding-top:20px; margin-left: 20px;}
#footer .copy{margin-bottom:10px;}
.under_btn{position: fixed; bottom:0; z-index: 100; width:100%;}
.buy_cart{width:100%; display: flex; background: #939090;}
.buy_cart a{width:50%; display: block; text-align: center; line-height: 45px; font-size: 2.4rem; font-size: 1.4rem; color:#fff;}
.buy_cart .buy{background: #46634B;}
:root{--swiper-theme-color:#46634b;}

.mlook img{
    width: 148px;
    height: 194px;
}