@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@import url(./all.css);
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select,
button {
  vertical-align: middle;
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: 0;
}
img,
video {
  max-width: 100%;
}
a,
span,
strong,
i {
  display: inline-block;
}
/* h1,h2,h3,h4,h5,h6{line-height: 1;} */
.blind {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
html {
  font-size: 10px;
  --color: #46634b;
}
body {
  color: #2b2b2b;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

#header {
  position: relative;
}
#header .header_in {
  position: relative;
  background: #46634b;
  text-align: center;
  padding: 20px 0;
  z-index: 998;
}
#header .left_menu_area {
  position: absolute;
  top: 10px;
  left: 23px;
  padding: 10px 0;
}
#header .logo {
  display: inline-block;
  width: 40%;
}
#header .right_menu_area {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}
#header .right_menu_area a {
  margin-left: 10px;
}

.aside_wrap {
  position: fixed;
  left: -100%;
  top: 0;
  width: 90%;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
  z-index: 1000;
  background: #fff;
}
.aside_wrap .aside_top {
  background: var(--color);
  width: 100%;
  padding: 15px;
}
.aside_wrap .aside_top .account {
  display: flex;
}
.aside_wrap .aside_top .account li {
  text-align: center;
  border-radius: 3px;
}
.aside_wrap .aside_top .account li a {
  padding: 4px 12px;
}
.aside_wrap .aside_top .account .login {
  background: #1f2e21;
  color: #fff;
}
.aside_wrap .aside_top .account .joinus {
  background: #fff;
  margin-left: 10px;
}
.aside_wrap .aside_top .btn_close {
  position: absolute;
  top: 15px;
  right: 14px;
}
.aside_wrap .txt {
  background: #6b826f;
  color: #fff;
  padding: 15px;
}
.aside_wrap .gnb .gnb_tab {
  width: 100%;
  display: flex;
}
.aside_wrap .gnb .gnb_tab a {
  width: 50%;
  line-height: 45px;
  text-align: center;
  display: block;
}
.aside_wrap .gnb .gnb_tab a:first-child {
  background-color: #444;
  color: #fff;
}
.aside_wrap .gnb .gnb_tab a:last-child {
  background-color: #fff;
}
.aside_wrap .gnb .gnb_list {
  position: relative;
  width: 50%;
  height: 100%;
}
.aside_wrap .gnb .gnb_list li,
.aside_wrap .customer {
  text-indent: 8px;
}
.aside_wrap .gnb .gnb_list li .tit a {
  padding: 10px 0;
  width: 100%;
}
.aside_wrap .gnb .gnb_list li .tit img {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
.aside_wrap .gnb .gnb_list li .sub {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  height: 100%;
  background-color: #f1f1f1;
  display: none;
}
.aside_wrap .gnb .gnb_list li .sub a {
  padding: 12px 0;
  width: 100%;
}
.aside_wrap .gnb .gnb_list li.on .tit {
  background: #f1f1f1;
  color: #46634b;
  font-weight: 700;
}
.aside_wrap .gnb .gnb_list li.on .sub {
  display: block;
}
.aside_wrap .customer {
  position: relative;
  width: 100%;
  height: 100%;
}
.aside_wrap .customer {
  background-color: #f1f1f1;
}
.aside_wrap .customer li a {
  padding: 12px 0;
  width: 100%;
}
.aside_wrap .nav_surv {
  display: flex;
  margin-top: 10px;
}
.aside_wrap .nav_surv li {
  background-color: #6b826f;
  width: 33%;
  line-height: 45px;
  text-align: center;
  color: #fff;
  margin-right: 1%;
}
.aside_wrap .nav_surv li:last-child {
  margin-right: 0;
}
.aside_wrap .nav_footer {
  padding: 4rem 0 0 1.5rem;
  margin-bottom: 3rem;
}
.aside_wrap .nav_footer .center {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.aside_wrap .nav_footer .tel {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.aside_wrap .social {
  text-align: center;
  padding-bottom: 4rem;
}
.aside_wrap .social a {
  margin-left: 30px;
  font-size: 28px;
  color: #46634b;
}
.aside_wrap .social a:first-child {
  margin-left: 0;
}
.overlay {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/* footer */
#footer .ftop_list {
  display: flex;
}

#footer .ftop_list li {
  width: calc(100% / 5);
  height: 45px;
  background: var(--color);
  border-right: 1px solid #fff;
  text-align: center;
  line-height: 45px;
}

#footer .ftop_list li:last-child {
  border-right: none;
}

#footer .ftop_list li a {
  color: white;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

#footer .footer_bottom {
  background: #ececec;
  text-align: center;
}

#footer .footer_menu {
  padding-top: 30px;
}
#footer .footer_menu a {
  color: #2b2b2b;
}

#footer .footer_menu .info {
  margin-bottom: 25px;
}
#footer .footer_menu .info_list a {
  margin: 0 10px;
}
#footer .footer_social {
  margin-top: 20px;
  font-size: 24px;
  margin-bottom: 20px;
}

#footer .footer_social > a {
  color: var(--color);
  padding: 5px;
  margin: 0px 5px;
}

#footer .cpr {
  padding-bottom: 35px;
  font-size: 12px;
  color: #494949;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

.btn_top {
  position: fixed;
  bottom: 50px;
  right: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  color: #2b2b2b;
  font-size: 25px;
  border: 1px solid #cfcfcf;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  z-index: 200;
  display: none;
}

.btn_top.on {
  display: none;
}
