@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@import url(./all.css);

#contents {
  font-size: 16px;
}

.login-area {
  padding: 0 20px;
}

#contents .login .sub_tit2 {
  font-size: 25px;
  padding-top: 26px;
  text-align: center;
}

.login-area .check {
  padding: 15px;
  text-align: center;
  letter-spacing: 3px;
}

.login-area .check laber {
  vertical-align: middle;
}

.join input {
  padding: 3px 10px;
  border: 1px solid #969696;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 45px;
  position: relative;
}

.join input[type="password"] {
  background: url(../images/login_join/nonepassword.svg) no-repeat 95% 50%;
}

.join .eyes {
  position: absolute;
  right: 20px;
}

.select input {
  text-align: left;
}

.select_check input {
  text-align: left;
  vertical-align: middle;
  text-indent: 30px;
}

.select_check {
  margin: 0 5px 10px;
}

.select_check .check_click {
  vertical-align: top;
}

.login-area button {
  background: var(--color);
  color: #fff;
  font-size: 17px;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 3px;
  display: block;
  margin: 20px auto;
  width: 100%;
}
