@charset "utf-8";

html {
  --color: #46634b;
  font-size: 14px;
}

body {
  color: #494949;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Gulzar", serif;
}

#visual {
  position: relative;
  overflow: hidden;
}

/* visual_1 */
#gallery1 {
  position: relative;
  box-sizing: border-box;
}

#gallery1 .slider1 li {
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 410px;
  background-size: cover;
  position: relative;
}
#gallery1 .slider1 .visual_1 {
  background-image: url(../images/main/visual_1.png);
}
#gallery1 .slider1 .visual_2 {
  background-image: url(../images/main/visual_2.png);
}
#gallery1 .slider1 .visual_3 {
  background-image: url(../images/main/visual_3.png);
}

#gallery1 .visual_1 .txt_1 {
  padding: 3px 8px 0px 5px;
  background: rgba(102, 0, 0, 0.6);
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-style: italic;
  position: absolute;
  left: 46px;
  top: 240px;
  font-family: "Gulzar", serif;
}

#gallery1 .visual_1 .txt_2 {
  font-size: 45px;
  color: #fff;
  font-family: "Gulzar", serif;
  position: absolute;
  line-height: 50px;
  left: 43px;
  top: 270px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* visual_2 */
#gallery1 .visual_2 .txt_1 {
  position: absolute;
  top: 87px;
  left: 115px;
  font-size: 20px;
  color: #fff;
  font-family: "Gulzar", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
#gallery1 .visual_2 .txt_2 {
  position: absolute;
  top: 116px;
  left: 90px;
  font-size: 75px;
  color: #5ebeb8;
  font-family: "Gulzar", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#gallery1 .visual_2 .txt_3 {
  position: absolute;
  top: 215px;
  left: 90px;
  font-size: 25px;
  color: #fff;
  font-family: "Gulzar", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
}

#gallery1 .visual_2 .txt_4 {
  position: absolute;
  top: 179px;
  left: 135px;
  font-size: 130px;
  color: #fff;
  font-family: "Gulzar", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#gallery1 .visual_2 .txt_5 {
  position: absolute;
  top: 253px;
  left: 249px;
  font-size: 35px;
  color: #fff;
  font-family: "Gulzar", serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#gallery1 .visual_2 .txt_6 {
  position: absolute;
  top: 312px;
  left: 110px;
  font-size: 12px;
  color: #fff;
  font-weight: boldß;
}

/* visual_3 */
#gallery1 .visual_3 .txt_1 {
  padding: 3px 8px 0px 5px;
  background: #cc683d;
  border-radius: 5px;
  color: #fff;
  position: absolute;
  top: 33px;
  left: 23px;
  font-family: "Gulzar", serif;
  font-style: italic;
}
#gallery1 .visual_3 .txt_2 {
  font-size: 45px;
  color: #0a2553;
  position: absolute;
  top: 60px;
  left: 23px;
  font-family: "Gulzar", serif;
}
#gallery1 .visual_3 .txt_3 {
  font-size: 14px;
  font-weight: 500;
  color: #111;
  position: absolute;
  top: 110px;
  left: 23px;
}
#gallery1 .visual_3 .txt_4 {
  font-size: 12px;
  color: rgb(0, 66, 146);
  position: absolute;
  top: 137px;
  left: 23px;
  font-weight: bold;
}

#gallery1 .swiper-pagination-bullet-active {
  background: rgba(70, 99, 75, 0.8);
}

/* NEW */
.sec1 {
  text-align: center;
  padding: 70px 20px;
}
.sec1 h2 {
  font-size: 30px;
  font-family: "Gulzar", serif;
  margin-bottom: 20px;
  color: #2b2b2b;
  letter-spacing: 1.5px;
}

.sec1 .new_list {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 24px;
}

@media screen and (max-width: 320px) {
  .sec1 .new_list {
    margin: 0 5% 24px;
  }
}

.sec1 .new_list li {
  width: 80px;
  height: 25px;
  background: #e1e1e1;
  border-radius: 3px;
  padding: 3px;
  margin-left: 10px;
}
.sec1 .new_list li:first-child {
  margin: 0;
}
.sec1 .new_list li a {
  width: 100%;
  height: 100%;
}

.sec1 .new_list li.on {
  background: var(--color);
  color: #fff;
}

.sec1 .swiper {
  width: 80%;
}
.sec1 img {
  width: 165px;
  height: 165px;
}

.sec1 .txt_1 {
  font-weight: bold;
  margin-bottom: 5px;
}
.sec1 .slider2 > li {
  display: inline-block;
  width: 50%;
}
.sec1 .slider2 > li a {
  width: 100%;
}
.sec1 .slider2 > li a img {
  width: 100%;
  height: 200px;
}

.sec1 .swiper-button-next::after,
.sec1 .swiper-button-prev::after {
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  background: rgba(225, 225, 225, 0.8);
  margin-bottom: 30px;
  font-weight: 700;
}
.sec1 .swiper-button-next {
  right: 3px;
  color: white;
}
.sec1 .swiper-button-prev {
  left: 3px;
}
.tab {
  display: none;
}

/*best review*/
.sec2 {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #59725d;
  padding: 70px 0 40px 0;
  position: relative;
}
.sec2 h3 {
  font-size: 30px;
  font-family: "Gulzar", serif;
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 1.5px;
}

.sec2 button {
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 9px;
  top: 60px;
}
.sec2 .slider3 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}
.sec2 .slider3 > li {
  width: 300px;
  border-radius: 10px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.sec2 .swiper-pagination {
  color: #fff;
}
.sec2 .slider3 li img {
  margin-bottom: 13px;
  height: 250px;
  width: 100%;
}
.sec2 .slider3 li .bottom_box {
  margin: 0 15px;
  text-align: left;
  height: 150px;
}
.sec2 .slider3 li .bottom_box .tit {
  font-size: 15px;
  font-weight: 500;
  color: #2b2b2b;
}

.sec2 .slider3 .star_list li {
  display: inline-block;
  font-size: 10px;
  color: #46634b;
  margin-bottom: 14px;
}

.sec2 .slider3 li .bottom_box .txt {
  margin-bottom: 13px;
}

/* Recipe */
.sec3 {
  text-align: center;

  padding: 70px 20px;
}
.sec3 h3 {
  font-size: 30px;
  font-family: "Gulzar", serif;
  margin-bottom: 20px;
  color: #2b2b2b;
  letter-spacing: 1.5px;
}
.sec3.slider4 {
  margin-bottom: 17px;
}

#gallery4 .swiper-scrollbar-drag {
  background: rgba(70, 99, 75, 0.8);
}
.sec3 .slider4 > li {
  width: 152px;
  position: relative;
}
.sec3 .slider4 > li .mask {
  background: rgba(70, 99, 75, 0.6);
  color: #fff;
  position: absolute;
  padding: 5px 0px;
  left: 0;
  bottom: 4px;
  width: 100%;
  box-sizing: border-box;
}

.sec3 .slider4 > li .more_view {
  background: rgba(70, 99, 75, 0.6);
  color: #fff;
  position: relative;
}
.sec3 .slider4 > li a {
  position: relative;
}

.sec3 .slider4 > li .more_view {
  width: 43px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sec3 .slider4 > li .more_view {
  background: none;
}

/*zara home store*/

.sec4 .zara_home_store {
  color: #fff;
  position: relative;
}
.sec4 .zara_home_store .store_text {
  position: absolute;
  left: 20px;
  top: 20px;
}
.sec4 .zara_home_store .store_text .tit {
  font-size: 20px;
  font-style: italic;
  font-family: "Gulzar", serif;
  line-height: 1;
  letter-spacing: 1.5px;
}
