@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gulzar&display=swap");
@import url(./all.css);

/*초기화*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
a {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
button {
  vertical-align: middle;
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: 0; /*아이폰 계열에서 아이콘 끝을 둥글게 만드는걸 방지*/
  appearance: none;
}

img,
video {
  max-width: 100%;
}

a,
span,
strong,
i {
  display: inline-block;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  display: block;
  margin: -1px;
}
html {
  --color: #46634b;
  font-size: 14px;
}

body {
  color: #494949;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif, "Gulzar", serif;
  text-size-adjust: none;
  overflow-x: hidden;
}

/* header */
#header {
  position: relative;
  z-index: 999;
}

#header .header_in {
  background: #46634b;
  position: relative;
  padding: 30px 0;
  z-index: 98;
}
#header .logo {
  text-indent: 10px;
}

#header .header_in .right_menu_area {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 5px;
}

#header .header_in .right_menu li {
  display: inline-block;
  margin-right: 3px;
}

#header .header_in .right_menu li:last-child {
  margin-right: 0;
}

/* sel1_검색창 */
#contents .sec1 {
  padding: 20px 10px;
}

#contents .sec1 .search_area {
  border: 1px solid #2b2b2b;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}
#contents .sec1 .search_area .txt {
  width: 80%;
}
#contents .sec1 .search_area input {
  padding: 16px 14px;
  width: 100%;
  box-sizing: border-box;
}
#contents .sec1 .search_area .s_btn {
  width: 20%;
  height: 18px;
  background: url(../images/search/search.svg) no-repeat center;
  display: inline-block;
  position: absolute;
  top: 14px;
  right: 0.1px;
}

/* sec2 */
.sec2 .tab_btn {
  text-align: center;
  display: flex;
}
.sec2 .tab_btn > a {
  width: calc(100% / 2);
  height: 45px;
  line-height: 45px;
  background: #f1f1f1;
  border-top: 1px solid #c8c6c6;
  border-bottom: 1px solid #c8c6c6;
  border-right: 1px solid #c8c6c6;
}

.sec2 .tab_btn > a.on {
  background: #c8d0c9;
}

.sec2 .tab_btn > a:last-child {
  border-right: none;
}

.sec2 .tab_btn > a.on {
  background-color: #c8d0c9;
}

.sec2 .tab_list .popular_sub {
  display: none;
}

.sec2 .tab_list .popular_sub.on {
  display: block;
}

.sec2 .tab_list .popular_sub li {
  padding: 15px 20px;
  border-bottom: 1px solid #c8c6c6;
}

.sec2 .tab_list .recent_sub {
  border-bottom: 1px solid #c8c6c6;
  display: none;
}
.sec2 .tab_list .recent_sub .recent_area {
  padding: 20px;
  text-align: center;
  height: 100%;
}

.sec2 .tab_list .recent_sub .btn_bottom {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #c8c6c6;
  background: #f1f1f1;
  padding: 0 20px;
}
.sec2 .tab_list .recent_sub a {
  text-align: center;
  padding-right: 5px;
}

/* sec3 */
.sec3 {
  background-color: #f1f1f1;
}
.sec3 .tit {
  padding-left: 20px;
  padding-top: 20px;
  color: #2b2b2b;
  margin-bottom: 12px;
}
.sec3 .tag_list {
  padding-left: 20px;
  margin-bottom: 35px;
}
.sec3 .tag_list li {
  color: #2b2b2b;
}

.sec3 .tag_list li img {
  width: 65px;
  height: 65px;
}
.sec3 .tag_list li p {
  text-align: center;
}

.sec3 .btn_close {
  margin: 0 20px;
  height: 45px;
  line-height: 45px;
  background-color: var(--color);
  text-align: center;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
}
.sec3 .btn_close a {
  width: 100%;
}
